/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header {
  width: 90%; /* 横幅90% */
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
header .heading {
  /* headerタグ内のheadingクラスにのみ反映される */
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 300px; /* 高さ300px */
}

.main-visual-content {
  width: 350px; /* 横幅350px */
  height: 300px; /* 親の高さに揃える */
}

.main {
  width: 840px; /* 横幅840px */
  /* background-color, heightの指定を解除 */

  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
}

.blog {
  width: 600px; /* 横幅600px */
  height: 1400px; /* 高さ1400px */
}

.sidebar {
  width: 240px; /* 横幅240px */
  height: 1400px; /* 高さ1400px */
}

footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px; /* 高さ120px */
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}
